.Membercss{
    display: flex;
    justify-content: flex-start;
    background-color: #8E8C8C;
    color: #fff;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    
}
.Membercss2{
    padding-left: 30px;
}

.AvatarMembers1{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}