.cardJoinUs {
  display: flex;
  justify-content: flex-start;
  background-color: #8E8C8C;
  color: #fff;
  margin: 10px 10px 10px 10px;
  padding: 10px;
}

.cardJoinUs2 {
  padding-left: 30px;
  text-align: left;
}

.cardJoinUs2 table {
  text-align: left;
}